.container {
  width: 100%;
  height: 1430px;
  background-color: rgb(147, 147, 224);
}
.header {
  background-color: rgb(147, 147, 224);
  height: 120px;
  width: 100%;
  padding-top: 25px;
}

.headtxt {
	color: white;
	font-size: 30px;
	font-weight: bolder;
	margin-left: 35%;
	margin-top: 5px;
}
#albumImage {
  width: 100%;
  height: 1300px;
}
#searchQuery {
  width: 800px;
  height: 50px;
  margin-left: 220px;
  margin-top: 2px;
  margin-bottom: 15px;
  font-size: 20px;
  font-weight: bold;
  background-color: white;
  border: none;
  border-radius: 14px;
text-align: center;

}
.searchbtn {

  width: 50px;
  margin-left: 0px;
  height: 50px;
  margin-top: 2px;
  margin-bottom: 13px;
  font-size: 20px;
  font-weight: bold;
  background-color: white;
  border: none;
  border-radius: 14px;
text-align: center;
cursor: pointer;

}
.searchimg {
  width: 25px;
  height: 25px;
}
