body, html {
  font-family: Arial;
  font-size: 35px;
  font-family: "Manrope";
}
.mycontainer {
  width: 100%;
  margin: 0px;
  height: 2700px;
  background-color: rgb(0, 0, 17);
  right: 50%;
  display: flex;
  flex-direction: column;
}
.everything_box {
        width: 100%;
        height: 100%;
        margin: 0px;
        background-color: yellow;
}

.header {
    display: flex;
    background-image: url('images/background\ img2.jpeg');
    flex-direction: column;
}
.text_section {
  margin-top: 60px;
  display: flex
  flex-direction: column;
  row-gap: 0px;
}

.p1 {
  font-weight: bold;
  margin-top: 20px;
  color: whitesmoke;
  font-size: 68px;
  margin-bottom: 0px;
  margin-left: 125px;
  margin-top: 0px;
}
.p2 {
  margin: 0px;
  color: #FFFF00;
  font-size: 32px;
  font-weight: bold;
  margin-left: 140px;
}
.p3 {
  font-weight: bold;
  color: whitesmoke;
  margin-top: 30px;
  font-size: 50px;

}
.select_boxes {
  background-color: rgb(0, 0, 17);
  border-radius: 20px;
   padding-top: 20px;
  display: grid;
  grid-template-columns: 0.5fr 0.5fr 0.5fr;
}

.the_box {
  width: 120px;
  height: 300px;
  background-color: rgb(0, 0, 17);
}

.my_header {
  display: flex;
  flex-direction: row;
  height: 240px;
  margin-bottom: 0px;
}
#dropdownMenu {
  width: 80px
  height: 60px;
}
#dropdownBtn {
  width: 10px;
  height: 10px;
  border: none;
  background-color: rgba(8, 8, 8, 0.007);
  margin-bottom: 24px;
}
.pic2 {
  width: 75px;
  height: 75px;
  margin-top: 74px;
  margin-left: 20px;
  cursor: pointer;
  margin-bottom: 0px;
}
.pic1 {
  width: 112px;
  height: 112px;
  margin-top: 53px;
  margin-bottom: 0px;
  margin-left: 270px;
  cursor: pointer;
}
.ham_menu {
  width: 60px;
  height: 60px;
  margin-top: 28px;
  margin-left: 10px;
  cursor: pointer;
  display: none;
}
.butn {
  height: 65px;
  width: 230px;
  border-radius: 60px;
  border: none;
  margin-top: 55px;
place-self: center;
color: white;
background-color: blue;
font-size: 20px;
font-weight: bolder;
cursor: pointer;
box-shadow:  12px 12px 12px rgba(19, 2, 247, 0.1);
transition: all 0.3s ease;
}

.butn:hover {
  opacity: 0.8;
  transform: scale(1.1);

}

.round {
  border-top-left-radius: 22px;
  border-top-right-radius: 22px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  background-color: rgb(0, 0, 17);
  text-align: center;
  margin-bottom: 0px;
  padding-top: 30px;
  box-shadow: 12px 12px 32px 32px rgba(0, 0, 0, 0.952);
}
.inboxes {
    width: 400px;
    height: 540px;
    background-color: rgb(49, 48, 53);
    margin-top: 10px;
    margin-left: 15px;
    border-radius: 25px;
    cursor: pointer;
}

.artist_image {
        width: 350px;
        height: 320px;
        border-radius: 8px;
        margin-left: 23px;
        margin-top: 25px;
        margin-bottom: 10px;
}
.name {
        color: white;
        margin-top: 10px;
        margin-bottom: 52px;
        margin-left: 20px;
        font-size: 35px;
        font-family: sans-serif;
        font-weight: bold;
}
.followers {
        color: white;
        margin-left: 25px;
        margin-bottom: 0px;
        font-family: sans-serif;
        margin-top: 6px;
        font-size: 20px;
}
.rating {
        color: white;
        margin-left: 26px;
        margin-bottom: 0px;
        font-family: sans-serif;
        margin-top: 6px;
        font-size: 20px;
}
.checker {
width: 35px;
height: 35px;
margin-left: 370px;
margin-top: 30px;
}
.roboto-light {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.roboto-regular {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.roboto-medium {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.roboto-bold {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.invdiv {
  display: none;
}
@media (max-width: 576px) {
  .p1 {
    color: whitesmoke;
    font-size: 30px;
    margin-right: 0px;
    }
  .p2 {
    margin-left: 24px;
    font-size: 18px;
    margin-bottom: 0px;

    }
    .pic1 {
      display: none;
    }
     .pic2 {
      display: none;
    }
    .ham_menu {
      width: 40px;
      height: 40px;
      margin-left: 50px;
      display: block;
      margin-right: 14px;
    }
    .p3 {
      font-size: 35px;
    }
    .checker {
      width: 20px;
      height: 20px;
      margin-left: 162px;
      margin-top: 8px;
    }
    .inboxes {
      width: 180px;
      height: 310px;
      background-color: rgb(14, 14, 68);
      margin-top: 5px;
      margin-left: 8px;
      border-radius: 15px;
      cursor: pointer;
    }
    .artist_image {
      width: 160px;
      height: 200px;
      border-radius: 6px;
      margin-left: 9px;
      margin-top: 10px;
      margin-bottom: 10px;
    }
    .name {
      margin-top: 3px;
      margin-bottom: 8px;
      margin-left: 5px;
      font-size: 17px;
      font-weight: bold;
    }
    .followers {
      margin-left: 10px;
      margin-top: 6px;
      font-size: 12px;
    }
    .rating {
      margin-left: 10px;
      margin-top: 2px;
      font-size: 12px;
    }
    .butn {
      height: 55px;
      width: 220px;
    }
    .mycontainer {
      height: 2360px;
    }
    .my_header {
        grid-template-columns: 5.3fr  1.2fr;
    }
    .select_boxes {
      grid-template-columns: 1fr 1fr;
    }
    .invdiv {
      display: block;
    }
}

.offcanvas-body {
  background-color: rgb(11, 11, 53);
  color: #ffffff;
}

.section {
  margin-top: 20px;
  margin-bottom: 20px;
  font-weight: bolder;
  font-size: 30px;
  justify-self: center;
}
.light-pic {
  width: 30px;
  height: 30px;
  margin-left: 134px;
  margin-bottom: 8px;
  cursor: pointer;
}
.offcanvas-header {
  background-color: rgb(20, 20, 82);
}
.offcanvas-title {
  color: #ffffff;
  font-weight: bold;
  font-size: 33px;
}
.dropdown-menu {
  background-color: black;
   width: 220px;
  height: 86px;
}
.D_pics {
  width: 28px;
  height: 23px;
  margin-right: 4px;
}
.Dps {
  color: #fff;
  margin-bottom: 0px;
  font-weight: bold;
}
.dropdown-item:hover {
  background-color: rgb(20, 20, 82);
}
/* Hide the default checkbox */
.hidden-checkbox {
  display: none;
}

/* Custom checkbox wrapper */
.custom-checkbox-wrapper {
  display: inline-block;
}

/* Custom checkbox label (clickable area) */
.custom-checkbox {
  display: flex;
  width: 400px;
  height: 540px;
  background-color: rgb(49, 48, 53);
  margin-top: 30px;
  margin-left: 15px;
  border-radius: 25px;
  cursor: pointer;
  border: 2px solid #000000;
  font-size: 18px;
  color: #f5f0f0;
  transition: background-color 0.3s, border-color 0.3s;

}
.custom-checkbox:hover {
  transform: scale(1.1);
  transition: all 0.3s ease;
}

/* Checkmark styling */
.checkmark {
  display: none;
  font-size: 40px;
  color: #cafc91;
  margin-top: 10px;
  margin-left: 320px;
}

/* Checked state styling */
.hidden-checkbox:checked + .custom-checkbox {
  border-color: #6ea1d8;
  color: white;
  opacity: 0.8;
 
}
