body, html {
  margin: 0;
}
.header {
  display: flex;
  flex-direction: row;
  column-gap: 60px;
  align-items: center;
}
.btn1 {
  background-color: black;
  width: 115px;
  font-weight: bold;
  border: none;
  height: 43px;
  color: white;
  font-size: 20px;
  border-radius: 7px;
  transition: all 0.3s ease;
  cursor: pointer;
}
.btn1:hover {
  opacity: 0.8;
  transform: scale(1.1);
}
a {
  color: white;
}
.container {
  background-image: url('images/updated.bbg1.jpg');
  height: 120vh;
  width: 100%;
  padding-top: 30px;
}
p {
  color: white;
  font-weight:  bolder;
  font-size: 23px;
  font-family: sans-serif;
}
.logotxt {
  margin-left: 25px;
  margin-right: 600px;
  margin-bottom: 0;
  color: rgba(247, 243, 12, 0.911);
  cursor: pointer;
  font-size: 34px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.logotxt:hover {
  color: rgb(253, 250, 70);
  transform: scale(1.1);
}
.paneltxt {
  color: white;
  font-weight: bolder;
  font-size: 45px;
  margin-left: 45px;
  margin-top: 230px;
}

.btn2 {
  width: 243px;
  height: 54px;
  background-color: black;
  font-weight: bold;
  border: none;
  color: white;
  margin-top: 12px;
  font-size: 21px;
  border-radius: 7px;
  transition: all 0.3s ease;
  margin-left: 52px;
  cursor: pointer;
  box-shadow:  12px 12px 12px  rgba(34, 12, 12, 0.596);
}
.btn2:hover {
  opacity: 0.8;
  transform: scale(1.1);
}
