body, html {
  margin: 0;
}
.theBox {
  width: 100%;
  height: 120vh;
  background-image: url('images/updated.bbg1.jpg');
  padding-top: 40px;
}
.header {
  display: flex;
  flex-direction: row;
  margin-bottom: 110px;
  column-gap: 14px;
  justify-items: center;
  margin-left: px;
}
.logotxt {
  margin-left: 25px;
  margin-right: 850px;
  margin-bottom: 0;
  color: rgba(247, 243, 12, 0.911);
  cursor: pointer;
  font-size: 34px;
  font-weight: bolder;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.logotxt:hover {
  color: rgb(253, 250, 70);
  transform: scale(1.1);
}
.container {
  align-items: center;
  justify-items: center;
  width: 700px;
  place-self: center;
}
.wlctxt {
  color: rgba(247, 243, 12, 0.911);
  font-size: 44px;
  font-family: sans-serif;
  font-weight: bolder;
}

.client_cred {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  margin-top: 40px;
}
.email_input {
  width: 420px;
  border-style: solid;
  border-color: rgba(128, 128, 128, 0.425);
  border-radius: 8px;
  height: 38px;
  background-color: rgb(255, 255, 255);
  padding-left: 10px;
  font-size: 15px;
}

.password_input {
  width: 420px;
  border-style: solid;
  border-color: gray;
  border-radius: 8px;
  height: 38px;
  padding-left: 10px;
  font-size: 15px;
}
.btn1 {
  background-color: rgb(131, 39, 39);
  border: none;
  border-radius: 10px;
  width: 380px;
  height: 40px;
  font-size: 18px;
  font-weight: bold;
  color: white;
  margin-top: 32px;
}
.btn1:hover {
  opacity: 0.8;
  transform: scale(1.1);
}

.btn2 {
  background-color: rgb(131, 39, 39);
  width: 185px;
  border: none;
  height: 43px;
  font-weight: bold;
  color: white;
  margin-top: 12px;
  font-size: 20px;
  border-radius: 7px;
  transition: all 0.3s ease;
  cursor: pointer;
}
.btn2:hover {
  opacity: 0.8;
  transform: scale(1.1);
}
